<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>RTCOM-TEST001</display-name>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

    <filter>
        <filter-name>SearchFilter</filter-name>
        <filter-class>controllers.SearchFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ActionFilter</filter-name>
        <filter-class>controllers.ActionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LogoutFilter</filter-name>
        <filter-class>controllers.LogoutFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SearchFilter</filter-name>
        <url-pattern>/search.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ActionFilter</filter-name>
        <url-pattern>/ActionServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LogoutFilter</filter-name>
        <url-pattern>/Logout</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>log4j-config</param-name>
        <param-value>WEB-INF/log4j.xml</param-value>
    </context-param>

</web-app>
